




<h1>Activation de votre compte</h1>



<h4>Vous avez crees un compte sur vtt , vous allez souvrir, suer et bien rire </h4>
<p><a href="{{ absolute_url(path('activation',{'token' : token})) }}">Activer</a></p>

