{% extends 'base.html.twig' %}

{% block title %}Accueil | {{parent()}}{% endblock %}
{% block monTitle %}Bienvenue en Coeur de Garonne{% endblock %}
{% block body %}
<div class="container-fluid">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0"></script>

<!-- ======================================================================= -->
<!-- liste des entrainements -->
<!-- ======================================================================= -->
<div class="row border-bottom border-light m-5 _sectionHautResp">


{{ render(path('liste-entrainement')) }}

<!-- api meteo -->
    <div>
        <div class="border-top border-light">

            {% include '/partial/section/apiMeteo.html.twig' %}

        </div>
            
    </div>
</div>



        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 _responBoot">
            <h2 class="text-center p-3 text-white">Qui sommes nous ?</h2>
            <p class="text-center h4 m-4 text-white">
                Une petite association intercommunale est née  En Cœur de Garonne .
                VTT TRAIL TREK EN Cœur De Garonne réunissant des sportifs passionnés 
                en trail, randonnée montagne et vtt 
                c est dans ce village de Montastruc Saves de moins de 80 habitants où il a été créé.
                cette association au statut intercommunal a vu le jour avec des habitants de la commune de Forgues, Rieumes et Montastruc Saves .</p>
                <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso" class="_logoVtt img-fluid d-block mx-auto mb-5">
        </div>

        <!-- =============================================================== -->
        <!-- facbook -->
        <!-- =============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 jumbotron _lastPost" >
            <div class="fb-page" data-href="https://www.facebook.com/vttencoeurdegaronne/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
        </div>

    </div>



    <!-- =================================================================== -->
    <!-- alert derniere news -->
    <!-- =================================================================== -->
    <div class="border-bottom border-light m-5 _HomeLastNews">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                {{ render(path('last-news')) }}
            </div> 
        </div>


    </div>



<!-- ======================================================================= -->
<!-- decouvrez section + icones -->
<!-- ======================================================================= -->
    {% include "partial/home/icone.html.twig" %}
</div>




<!-- ======================================================================= -->
<!-- carousel -->
<!-- ======================================================================= -->
    {% include "partial/home/carroussel.html.twig" %}

{% endblock %}