{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}
{% block monTitle %}Bienvenue en Coeur de Garonne{% endblock %}
{% block body %}
    <p>a venir contro global index</p>
{% endblock %}
