{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}
{% block monTitle %}Bienvenue en Coeur de Garonne{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>L'association</h2>
            <img src="{{asset('images/imagesAutre/logoVTT.jpg')}}" alt="logoAsso" class="_logoVtt img-fluid">
        </div>
        <div class="col-3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa nisi doloribus accusantium ipsa
                quisquam molestias architecto quasi voluptatem nam id, molestiae error dignissimos eveniet ut aperiam
                nemo beatae labore.</p>
        </div>

    </div>
</div>
{% endblock %}