{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}
{% block monTitle %}Login{% endblock %}
{% block body %}
{% if error %}
<dir class="alert alert-danger">
    login et mot de passe ne sont pas correct
</dir>
{% endif %}


    <form action="{{path('login')}}" method="POST">
        <div class="form-group">
            <label for="">Pseudo</label>
            <input type="text" required name="_username" class="form-control" value="{{lastUserName}}">
        </div>
        <div class="form-group">
            <label for="">Mots de passe</label>
            <input type="password" required name="_password" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary" value="Envoyer">

    </form>
{% endblock %}