{% extends 'base.html.twig' %}

{% block title %}Reset pass | {{parent()}}{% endblock %}
{% block monTitle %}Mot de passe oublié{% endblock %}

{% block body %}


    <div class="container">

        {{form(resetForm)}}

    </div>

{% endblock %}