{% extends 'base.html.twig' %}

{% block title %}TNS | {{parent()}}{% endblock %}
{% block monTitle %}Trail Nocture en Savés{% endblock %}

{% block body %}
{% block nav2 %}{% endblock %}
<div class="container-fluid TnsImg">

    <div class="m-4 p-4">
        <div class="text-center text-white display-4 font-italic"> 1ère édition !!! </div>

    </div>

    <div>
        <div class="display-4 text-white text-center text-warning p-4" >
            Forgues Samedi 14 Novembre
        </div>
    </div>

        <div class=" display-1 text-white text-center font-weight-bold p-4" >
            Trail Nocture en Saves
        </div>
            


    <div class="row p-5">
        <div class="col-lg-6 display-4 text-white text-center p-5" >
            <div>La Salamandre</div>
            <div class="text-danger font-weight-bold"> 11KM    300D+ </div>

            
        </div>




        <div class="col-lg-6 display-4 text-white text-center p-5" >
            <div>La Casteras</div>
            <div class="text-danger font-weight-bold">22KM      600D+</div>

            
        </div>

    </div>

    <div class="p-4  m-5 display-5 text-center text-info">
        Plus d'information a venir... restez connecté
    </div>






</div>



{% endblock %}