{% extends 'base.html.twig' %}

{% block title %}TNS | {{parent()}}{% endblock %}
{% block monTitle %}Trail Nocture en Savès{% endblock %}

{% block body %}
{% block nav2 %}{% endblock %}
<div class="container-fluid TnsImg">

    <div class="m-4 p-4">
        <div class="text-center text-white display-4 font-italic"> 1ère édition !!! </div>

    </div>

    <div>
        <div class="display-4 text-white text-center text-warning p-4 " >
            Forgues Samedi 21 Novembre
        </div>
    </div>

        <div>
            <p class=" display-3 text-white text-center font-weight-bold p-2 _tnsTI">Trail Nocture en Saves</p>
          
        </div>
            


    <div class="row p-3">
        <div class="col-lg-6 display-4 text-white text-center p-2" >
            <div>La Salamandre</div>
            <div class="text-danger font-weight-bold"> 11KM    300D+ </div>

            
        </div>




        <div class="col-lg-6 display-4 text-white text-center p-5" >
            <div>La Casteras</div>
            <div class="text-danger font-weight-bold">22KM      600D+</div>

            
        </div>

    </div>

    <div> 
        <h4 id='timerTrail' class="text-center text-bold text-warning"></h4>
    </div>

    <div class="p-4  m-5 display-5 text-center text-info">
        Plus d'information a venir... restez connecté
    </div>






</div>


{% block javascripts %}{{ encore_entry_script_tags('timer') }}{% endblock %}

{% endblock %}