h1,h2,h3,h4{
    font-family: 'Sigmar One', cursive;
}

._imgFacebook{
    width: 60px;
}

._logoVtt{
    width: 60%;
}

._logoNav{
    width: 150px;
}

._profileImg{
    width: 150px;
    height: 150px;
    border-radius:50%;
    border:solid 6px rgb(249, 157, 28)
}

._pfont{
    font-size: 18px;
    
}

._photoCaroussel{
height: auto;
}

/* carouselle partenaire */
