h1,h2,h3,h4{
    font-family: 'Sigmar One', cursive;
}

._imgFacebook{
    width: 60px;
}

._logoVtt{
    width: 60%;
}

._logoNav{
    width: 150px;
}

._profileImg{
    width: 200px;
}

._pfont{
    font-size: 18px;
}