<div class="container p-5 _cardHomeRest">

    <!-- ICI : les cartes -->
    <div class="card-deck">


        <div class="card">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

                </ol>
                <div class="carousel-inner m-0 p-0">
                    <div class="carousel-item active">
                        <a href="#"><img class="d-block w-100" src="{{asset('images/partenaire/lePRamo.jpg')}}"
                            alt="petit_ramoneur"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="https://www.paysages-rieumois.fr/"><img class="d-block w-100" src="{{asset('images/partenaire/chr.jpg')}}"
                            alt="paysage_rieumois"></a>
                    </div>
            
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
            <div class="card-body bg-white text-dark">
                <h5 class="card-title">Nos Partenaires</h5>
                <p>Comme nous, faites confiance à nos partenaires
                    <ul>
                        <li><a href="https://www.paysages-rieumois.fr/" class="text-dark">Art Et Paysages Rieumois SARL </a> 06 89 72 58 09</li>
                        <li>Le Petit Ramoneur 05 62 62 40 87</li>
                    </ul>
                    
                </p>

            </div>
        </div>

        <div class="card">



            <img src="{{asset('images/imagesAutre/lunette_ciel_etoiles.jpg')}}"
                alt="tns" class="card-img-top _cardHomeTns">
            <div class="card-body bg-white text-dark">
                <h5 class="card-title">Tns</h5>
                <p>A venir Trail Nocturne en Saves
                </p>

            </div>
        </div>
    </div>
</div>