<h1>Activation de votre compte</h1>



<h4>Nouveau mot de passe!!!!!!</h4>

<p>Une demande de réinitialisation de mot de passe a été effecctuée pour le site VTT veuillez cliquer sur le lien suivant : <a href="{{url}}">activer</a></p>


