

<div class="row border-bottom border-light m-5">
    <div class="col-3 jumbotron">
        <h4 class="display-5">Planning des entrainements</h4>
        <hr class="my-4 my-light">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        {# <img src="{{asset('images/imagesAutre/logoVTT.jpg')}}" alt="logoAsso" class="_logoVtt img-fluid"> #}
    </div>

    {% block bodySection %}
    <div class="col-6">
        <h2 class="text-center p-3 text-white"></h2>
        <p class="text-justify h4 m-4 text-white">
            
        </p>
            <img src="{{asset('images/imagesAutre/logoNav.png')}}" alt="logoAsso" class="_logoVtt img-fluid d-block mx-auto mb-5">
    </div>
    {% endblock %}

    <!-- =============================================================== -->
    <!-- liste dernier post -->
    <!-- =============================================================== -->
    <div class="col-3 jumbotron">
        <h4 class="display-5">liste des denier posts</h4>
        <hr class="my-4 my-light">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        {# <img src="{{asset('images/imagesAutre/logoVTT.jpg')}}" alt="logoAsso" class="_logoVtt img-fluid"> #}
    </div>

</div>