{% extends "base.html.twig" %}

{% block monTitle %}Accées non autorisée{% endblock %}

{% block nav2 %}{% endblock %}

{% block body %}
<h3 class="text-center text-warning pt-5">Erreur 403 Accès refusé/interdit </h3>
<p class="text-center text-warning pb-5">voit avec Jean Yves avec un peu de bol ... </p>
<p class="text-center text-warning pb-5"> Code de l'erreur : {{ status_code }} </p>
{% endblock %}