{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block monTitle %}{{user.name}}{% endblock %}
{% block body %}
<h2>{{user.username}}</h2>
<img src="{{asset('images/imagesUsers/' ~ user.photo)}}" class="rounded-circle _profileImg" alt="" >

{% endblock %}
