{% extends 'base.html.twig' %}

{% block title %}Modif Comentaire | {{parent()}}{% endblock %}

{% block monTitle %}modification Commentaire :{% endblock %}
{% block body %}

<div class="container">

    {{form_start(form)}}
    {{form_row(form.comment,{"label" : "Modifier Commentaire : "})}}
        <input type="submit" class="btn btn-primary" value="Enregistrer">
    {{form_end(form)}}

</div>



{% endblock %}
